{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <h2>
          Линтер JavaScript - правила использования:
        </h2>
        <p>Переходи во вкладку check code и вставляем в форму соответвующий файл -
            нажимаем отправить на тестирование. Ждем некоторое колличество времени
            и получаем результат теста. Запоминаем uuid теста, чтобы в случае
            чего была возможность вернуться к нему.</p>
        <p></p>
    </div>
    <div class="col">
    </div>
  </div>
{% endblock %}